/* index.css */
@import "tailwindcss";
@import "tw-animate-css";

.bg-primary {
  background-color: #1e40af;
}

.bg-primary:hover {
  background-color: #1d4ed8;
}


button,
[role="button"] {
  cursor: pointer;
}
